*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body{
    background-color: #203647 ;
}

ul{
    list-style: none;
}

.coinlist-image{
    width: 50px
}
.coin:hover{
    
}